google-api-core==2.24.1
google-api-python-client==2.123.0
google-auth==2.29.0
python-telegram-bot==20.6
google-auth-oauthlib==1.2.0
uvicorn
fastapi
python-telegram-bot==20.8
python-telegram-bot[rate-limiter]==20.8
